.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-bottom: 1px solid #414242;
}
.sidebarChat:hover {
  background-color: #2a2f32;
}
.sidebarChat__info > h3 {
  font-size: 16px;
  margin-bottom: 8px;
  text-decoration: none;
}

.sidebarChat__info {
  margin-left: 15px;
}
