@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
}
body {
  overflow-x: hidden;
}
/* .app__stats {
  display: flex;
  flex-direction: row;
} */
.cases__info {
  display: flex;
  flex-direction: column;
}
.quote {
  background-color: #fff2f5 !important;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px #fec1f9;
  font-family: "Anton", sans-serif;
  color: #8a656a;
  border: 1px solid #fdc6fd;
}
.quote > div > h2 {
  font-family: "Acme", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #d8aab1;
}
.graph {
  /* border: 1px solid; */
}
.cardGraph {
  border-radius: 1rem !important;
}
.text {
  font-family: "Poppins", sans-serif;
}
