.infobox--select {
  border-right: 10px solid !important;
}
.infobox--red {
  border-right: 10px solid #ff8484 !important;
}
.infobox--green {
  border-right: 10px solid #83ff86 !important;
}
.infobox--blue {
  border-right: 10px solid #94bfff !important;
}
.infobox {
  cursor: pointer;
  border-radius: 0.5rem !important;
}
