.table__main {
  max-height: 500px;
}
.table__main1 {
  /* background-color: #cff4fc; */
  border-radius: 1rem !important;
}
.table__main::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.table__main::-webkit-scrollbar-track {
  background: #fafafa;
}
.table__main::-webkit-scrollbar-thumb {
  background: #c1c1c1;

  visibility: hidden;
}
.table__main:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
/* Handle */
